/* footer */
.footer{
    justify-content:center;
    align-items:center;
    transition: all .3s ease;
    margin-top: auto;

    &__redes{
        display:flex;
        margin-top: 120px;
        width: 100%;
        height: 75px;
        background: $color-principal;
        justify-content: center;
        align-items: center;

        .fab{
            margin: 0 15px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background: #000;
            border-radius: 50%;
            color: $color-principal;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            transition: all .3s ease;
        }

        .icon1{
            &:hover{
                background: #3b5998;
                transform: scale(1.2);
            }
        }

        .icon2{
            &:hover{
                background: #c13584;
                transform: scale(1.2);
            }
        }

        .icon3{
            &:hover{
                background: #6441a5;
                transform: scale(1.2);
            }
        }

        .icon4{
            &:hover{
                background: #c4302b;
                transform: scale(1.2);
            }
        }
    }
}