/* Articulos */

.articulos__descTitulo{
    font-size: 80px;
    text-align: center;
}

.articulos__titulo{
    font-size: 55px;
    padding-bottom: 2px;
    text-align: center;
}

.articulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;

    &__seccion{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        color: #000;
        text-align: center;
        width: 350px;
        height: 450px;
        border-radius: 7px;
        text-align: center;
        transition: all 0.25s;
        background-color: antiquewhite;
    }

    &__seccion--mod{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        color: #000;
        width: 350px;
        height: 450px;
        border-radius: 7px;
        transition: all 0.25s;
        background-color: antiquewhite;
        @extend .better-articles
    }

    &__titulo{
        font-size: 35px;
    }

    &__fecha{
        font-size: 12px;
        padding-top: 20px;
    }

    &__img{
        width: 95%;
        height: 50%;
        padding: 5px;
    }

    &__img--mod{
        width: auto;
        height: 50%;
        padding: 5px;
    }
}

.seccion__nombre{
    font-size: 30px;
    padding-left: 15px;
}

.better-articles{
    text-align: center;
    border:rgb(255, 0, 0) dashed 4px;
    font-weight: 600;
}