@import 'variables';
@import 'footer';
@import 'logro';
@import 'portafolio';
@import 'evento';

*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    color: rgb(224, 224, 224);
    font-family:Arial, Helvetica, sans-serif;
}

.navbar-brand{
    width: 35px;
}

.bg-white{
    background-color: white;
}

/* Pagina Principal */
.main__portada{
    background-color: $color-fondos;
}

p{
    display: flex;
    flex-wrap: wrap;
}

/* Index */
.presentacion__inicio{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    align-items: center;
    justify-content: center;
    &__texto{
        color: #1d1d1d;
        width: 50%;
        padding-right: 15px;
        h2{
            font-size: 35px;
            font-family: 'Titan One', cursive;
        }
        h3{
            font-size: 20px;
        }
    }
    &__img{
        width: 400px;
        border: solid 5px rgb(255, 255, 255);
    }
}

/* Nav bar */
.nav-link.active{
    font-weight: 700;
}

.navbar-toggler-icon{
    background-color: $color-fondos;
}

.navbar-toggler{
    background-color: $color-fondos;
}

.navbar-brand:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

/* Sobre Mí */
.sobremi{
    &__grupo{
        display: flex;
        flex-direction: row;
    }

    &__titulo{
        font-size: 80px;
        margin-bottom: 10px;
        padding: 5px;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__presentacion{
        margin-bottom: 15px;
        font-size: 25px;
        text-align: center;
        flex-wrap: wrap;
        padding-left: 25%;
        padding-right: 25%;
    }

    &__link{
        color: $color-prinicpalLinkBotones;
        font-weight: 900;
    }

    &__seccion{
        margin: 15px;
        color: rgb(255, 255, 255);
        border-radius: 7px;
        border: solid 3px rgb(137, 137, 137);
        margin-bottom: 10px;
        padding: 15px;
        width: 50%;
    }

    &__subtitulo{
        font-size: 30px;
        text-align: center;

        &__descripcion{
            color: $color-prinicpalLinkBotones;
            font-weight: 900;
        }
    }
}


/* pagina de contacto */
.form{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin:auto;
    margin-top: 50px;
    background: rgba(76, 76, 76, 0.4);
    border: 5px solid rgb(151, 151, 151);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;

    &__titulo{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-bottom: 10px;
    }

    &__item{
        width: 100%;
        margin-bottom: 15px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }

    &__button{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: none;
        background: linear-gradient(135deg, $color-secundario 0%, $color-principal 50%, $color-secundario 100%);

        &:hover{
            cursor: pointer;
            color: $color-principal;
            background: linear-gradient(135deg, #000 0%, #000 50%, #000 100%);
        }
    }
}

textarea{
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

/* galeria */
.titulo__galeria{
    font-size: 80px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery{
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 20px 10px;

    &__item{
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        transition: .2s ease-in-out;
        grid-column: span 2;
        height: 283px;

        &:first-of-type{
            grid-column:  2/ span 2;
        }
    }
}

.presentacion__galeria{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}


/* media queries */
/* galeria media queries */
@media screen and (min-width: 912px){
    .gallery__item:hover{
        filter: brightness(0.8);
        transform: scale(1.05);
        .gallery__img{
            display: none;
        }
    }

    .gallery__item:active{
        filter: brightness(1);
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
        height: fit-content;
        width: fit-content;
        transform: scale(1.3);
        position: center;
        z-index: 1;
        .gallery__holdClickImg{
            display: none;
        }

        .gallery__img{
            display: flex;
        }
    }
}

@media (min-width:280px) and (max-width:912px){
    .galeria__main:active{
        .gallery__item{
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }

        .gallery__holdClickImg{
            display: none;
        }
    }

    .gallery__item:hover{
        filter: brightness(1);
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
        height: fit-content;
        width: fit-content;
        transform: scale(0.6);
        position: center;
        z-index: 1;

        .gallery__holdClickImg{
            display: none;
        }
    }
}

@media screen and (min-width: 270px) and (max-width: 504px){
    .gallery__item:first-of-type{
        grid-column:  1/ span 2;
    }

    .gallery{
        grid-auto-rows: 283px;
    }
}

@media screen and (min-width: 505px) and (max-width: 685px){
    .gallery__item:nth-of-type(odd){
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 686px) and (max-width: 862px){
    .gallery__item:nth-of-type(3n + 1){
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 863px) and (max-width: 1038px){
    .gallery__item:nth-of-type(4n + 1){
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1039px) and (max-width: 1215px){
    .gallery__item:nth-of-type(5n + 1){
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1391px){
    .gallery__item:nth-of-type(6n + 1){
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1392px){
    .gallery__item:nth-of-type(7n + 1){
        grid-column: 2 / span 2;
    }
}

@media (max-width:840px){
    .presentacion__galeria{
        padding: 0%;
    }
}

@media (max-width:600px){
    .presentacion__galeria{
        font-size: 18px;
    }
}


/* Formulario */
@media (max-width:701px){
    .form{
        width: 100%;

        &__titulo{
            font-size: 30px;
        }
    }
}

@media (max-width:600px){
    .form{
        &__titulo{
            font-size: 25px;
        }
    }
}

/* Footer */
@media (max-width:549px){
    .footer__redes{
        width: 100%;
    }
}

@media screen and (max-width:250px){
    .footer__redes{
        width: 100%;
    }
}

/* Sobre mi */
@media (min-width:280px) and (max-width:480px){
    p{
        font-size: 15px;
    }

    .presentacion__sobremi{
        font-size: 18px;
    }

    .presentacion__galeria{
        font-size: 18px;
    }

    .titulo__galeria{
        font-size: 50px;
    }

    .subtitulo__sobremi{
        font-size: 20px;
    }
}

@media (max-width:1200px){
    .sobremi__grupo{
        flex-direction: column;
        align-items: center;
    }

    .sobremi__seccion{
        width: 75%;
    }
}

@media (max-width:800px){
    .sobremi__seccion{
        width: 90%;
    }
}

@media (max-width:650px){
    .sobremi__seccion{
        width: 95%;
    }
}

@media (max-width:840px){
    .sobremi__presentacion{
        padding: 0%;
    }
}

@media (max-width:600px){
    .sobremi__presentacion{
        font-size: 18px;
    }
}

/* Logros */
@media (max-width:280px) {
    .articulos__seccion{
        flex-direction: column;
        width: 100%;
        height: 340px;
    }
}

@media (max-width:1000px) {
    .articulos__img--mod{
        width: auto;
        height: 50%;
        padding: 5px;
    }
}

@media (max-width:464px) {
    .articulos__descripcion{
        font-size: 12px;
    }

    .seccion__nombre{
        font-size: 20px;
    }
}

@media (max-width:464px) {
    .articulos__titulo{
        font-size: 30px;
    }

    .articulos__presentacion{
        font-size: 20px;
    }
}

@media (max-width:840px){
    .articulos__presentacion{
        padding: 0%;
    }
}

@media (max-width:600px){
    .articulos__presentacion{
        font-size: 18px;
    }
}

@media (max-width:829px){
    .nav__menu{
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    }
}

@media (max-width:400px){
    .nav__menu{
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
}

/* Index */
@media (max-width:760px){
    .presentacion__inicio{
        margin: 0 auto;
        flex-direction: column;
        width: 80vw;
        height: auto;
        padding-top: 75px;
        padding-bottom: 75px;
        align-items: center;
        justify-content: center;
        &__texto{
            color: #1d1d1d;
            width: 85%;
            padding-bottom: 15px;
            h2{
                font-size: 30px;
                text-align: center;
            }
            h3{
                font-size: 15px;
                text-align: center;
            }
        }
        &__img{
            width: 300px;
            border: solid 7px rgb(255, 255, 255);
        }
    }
}

@media (max-width:460px){
    .presentacion__inicio{
        margin: 0 auto;
        flex-direction: column;
        width: 80vw;
        height: auto;
        padding-top: 35px;
        padding-bottom: 35px;
        align-items: center;
        justify-content: center;
        &__texto{
            color: #1d1d1d;
            width: 85%;
            padding-bottom: 15px;
            h2{
                font-size: 25px;
                text-align: center;
            }
            h3{
                font-size: 10px;
                text-align: center;
            }
        }
        &__img{
            width: 250px;
            border: solid 7px rgb(255, 255, 255);
        }
    }
}

/* portafolio */
@media(max-width:860px){
    .portafolio__seccion{
        flex-direction: column;
        width: 350px;
        height: 400px;
        justify-content:start;
    }

    .portafolio__img{
        width: 100%;
        height: auto;
    }
}

@media(max-width:400px){
    .portafolio__seccion{
        flex-direction: column;
        width: 100%;
        height: 400px;
        justify-content:start;
    }

    .portafolio__img{
        width: 100%;
        height: auto;
    }
}

/* eventos especiales: El codigo está presente aunque no haya algún evento para que esté listo cuando haya alguno */
@media(max-width:860px){
    .eventosEspeciales__seccion{
        flex-direction: column;
        width: 350px;
        height: 400px;
    }

    .eventosEspeciales__img{
        width: auto;
        height: 50%;
        align-self: center;
    }
}

@media(max-width:400px){
    .eventosEspeciales__seccion{
        flex-direction: column;
        width: 100%;
        height: 450px;
        justify-content:start;
    }

    .eventosEspeciales__img{
        width: auto;
        height: 50%;
        align-self: center;
    }
}